@tailwind utilities;

@layer utilities {
    .text_stroke_white {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
    }

    .text_stroke_2px {
        -webkit-text-stroke-width: 2px;
    }
}